<template name="registration">

    <div id="main-loader"></div>

    <section class="registration wrap">

        <header>
            <div class="container">
                <div class="logo">m i c r o c o s m</div>
                <div class="reg-step">
                    <div class="_active">1</div>
                    <div>2</div>
                    <div>3</div>
                </div>
                <div class="logout"><a><i class="fa fa-chevron-circle-left"></i> выйти</a></div>
            </div>
        </header>

        <footer>
        </footer>

        <section id="info-block" class="info">

            <div class="wrap">

            <div class="background" style="background-image: url(http://d1jfn2lab933y3.cloudfront.net/images/info_bg.jpg);"></div>

            <div id="info-insert" class="insertion container"></div>

            </div>

        </section>

        <section class="testing">

            <div class="wrap">

                <div class="background  _visible"
                     style="background-image: url(http://d1jfn2lab933y3.cloudfront.net/images/test_part_1.jpg);"></div>

                <div id="testing-insert" class="insertion container"></div>

                <div class="break-one breaks">

                    <div class="container">

                        <h3>НЕБОЛЬШОЙ ПЕРЕРЫВ!</h3>
                        <h4>Все идет хорошо, но важно немного отвлечься:)</h4>

                        <div class="circle">
                            <p>Тест, которыи вы сейчас<br/>
                                проходите, называется Big Five,<br/>
                                и является одним из самых уважаемых<br/>
                                личностных тестов в современной<br/>
                                психологии. Суть в выявлении доминантных<br/>
                                личностных качеств, и на основе этого<br/>
                                выстраивании целостнои картины личности,<br/>
                                Постараитесь быть максимально<br/>
                                откровенными при заполнении,<br/>
                                отвечать на вопросы не как вам<br/>
                                хочется чтобы было, а как есть на <br/>
                                самом деле. Тут важно быть<br/>
                                откровенным с самим собой. Обещаем,<br/>
                                результаты вас удивят своей<br/>
                                объективностью</p>
                        </div>

                        <button class="further">ПРОДОЛЖАЕМ</button>

                    </div>

                </div>

                <div class="break-two breaks">

                    <div class="container">

                        <h3>ОТЛИЧНО!</h3>
                        <h4>Осталось совсем немного!</h4>

                        <div class="circle huge">
                            <p>Немного о<br/>
                                том, как работает<br/>
                                наша система. Основная<br/>
                                суть в том, что<br/>
                                мы берем различные<br/>
                                психологические и не только методики, и результаты<br/>
                                их сводим к общему ядру. То есть<br/>
                                чем больше разных тестов вы пройдете,<br/>
                                тем больше будет точность вашей<br/>
                                личностной характеристики</p></div>
                        <div class="circle small"><p>Далее, на основе<br/>
                            этих данных, а также ваших<br/>
                            интересов, убеждений и т.д. мы<br/>
                            моделируем на основе современных<br/>
                            методик ваши отношения с<br/>
                            другими участниками</p></div>
                        <button class="further">ЕДЕМ ДАЛЬШЕ!</button>
                    </div>

                </div>

                <div class="finish breaks">

                    <div class="container">

                        <h3>СУПЕР!!</h3>
                        <h4>Тест закончен, поздравляем!</h4>

                        <div class="circle">
                            <p>
                                И так, мы уже<br/>
                                построили основную модель<br/>
                                вашей личности, и вы уже<br/>
                                стали полноправным членом<br/>
                                нашего сообщества. Но прежде,<br/>
                                чем вы перейдете к своему профилю,<br/>
                                мы очень просим вас пройти еще одну вещь.<br/>
                                Это называется ОКНО ДЖОХАРИ,<br/>
                                и займет у вас не больше<br/>
                                минуты, обещаем! Кстати, <br/>
                                наши участники находят этот<br/>
                                тест чуть ли не<br/>
                                самым интересным;)
                            </p>
                        </div>
                        <button class="finish-test"><i class="fa fa-chevron-down"></i><br/>НАЧНЕМ</button>

                    </div>

                </div>

            </div>

        </section>

        <section class="johari">

            <div class="wrap">

            <div class="background _visible" style="background-image: url(http://d1jfn2lab933y3.cloudfront.net/images/johari_bg.jpg);"></div>

            <div id="johari-insert" class="insertion container"></div>

            <div class="start">
                <div class="container">
                    <h3>ОКНО ДЖОХАРИ</h3>
                    <h4>Насколько хорошо вы себя знаете?</h4>
                    <div class="circle huge">
                        <p>
                            Окно Джохари -<br/>
                            один из самых интересных<br/>
                            психологических тестов. Суть<br/>
                            его в том, что вы, а также люди,<br/>
                            которые вас хорошо знают, отмечаете,<br/>
                            какие личностные черты вы считаете<br/>
                            присущими вашей персоне. И на основе<br/>
                            пересечения ваших ответов, можно<br/>
                            выделить 4 зоны - то о вас, что<br/>
                            знают все, то, что знаете вы,<br/>
                            то, что замечают только другие,<br/>
                            и то, чего не замечено за вами.<br/>
                            Также помогает определить<br/>
                            степень целостности<br/>
                            личности<br/>
                        </p>

                    </div>
                    <div class="circle small">
                        <p>
                            Не волнуйтесь,<br/>
                            вам не нужно будет<br/>
                            сразу рассылать это всем,<br/>
                            это можно будет сделать и позже.<br/>
                            Сейчас можете заполнить только вы.<br/>
                            Но помните, чем больше близких<br/>
                            людей заполнят его,<br/>
                            тем выше будет<br/>
                            точность!
                        </p>

                    </div>
                    <button class="johari-start">ПРИСТУПИМ!</button>
                </div>
            </div>

            </div>

        </section>

    </section>

</template>




<template name="beforeHook">
    
    <h3>Большое спасибо</h3>

    <div class="row">
        <div>
            <img src="/img/cosmo.png" alt=""/>
        </div>
        <div>
            <p>И так, вы не потратили и минуты, а наша система уже построила вашу астрологическую космограмму!</p>
            <p>Выглядит она примерно так! после регистрации вы поймете, что это значит!</p><p>Астрология незаслуженно считается псевдонаукой, но на деле это просто статистические данные, и их точность крайне высока, вы в дальнейшем убедитесь в этом сами. Именно по-этому мы выбрали ее как одну из методик.</p>
            <p class="stronger">Теперь давайте перейдем к базовому психологическому тесту, которыи также поможет вам лучше узнать себ ! Не волнуитесть, это не заимет много времени, ну что:</p>
        </div>
    </div>

    
    <button>ПОЕХАЛИ!</button>

</template>


<template name="info">

        <div class="info-cont-wrap">


            <div class="verso">

                <div class="info-cont">
                    <div class="pins">
                        <div class="pins-cont">
                            <div class="pin"></div>
                            <div class="pin"></div>
                            <div class="pin"></div>
                            <div class="pin stripe"></div>
                        </div>
                    </div>

                    <div class="controls">

                        <button class="slide-back"><i class="fa fa-angle-left"></i> Назад</button>
                        <button class="slide-further">Едем дальше <i class="fa fa-angle-right"></i></button>

                    </div>

                    <div class="slider-wrap">
                    <div class="slide">
                    <form>
                    <section class="form">


                        <h4>Сперва, заполни пожалуйста небольшую форму:</h4>

                        <div class="openauth-info">

                            <div class="row">
                                <div><span><sup>*</sup></span>Имя:</div>
                                <div><input id="name" class="required" type="text" minlength="2" maxlength="200"/></div>
                            </div>
                            <div class="row">
                                <div><span><sup>*</sup></span>Фамилия:</div>
                                <div><input id="secondName" class="required" minlength="2" maxlength="200" type="text"/></div>
                            </div>
                            <div class="row">
                                <div><span><sup>*</sup></span>Выберите никнэйм:</div>
                                <div>
                                    <div id="choose-nic"><input id="nickName" class="required" minlength="2" maxlength="200" type="text"
                                                                value="{{currentUser.profile.services.facebook.username}}"><span
                                            class="valid"><i class="fa fa-check"></i></span><span class="invalid"><i
                                            class="fa fa-times"></i></span></div>
                                </div>
                            </div>

                            <div class="row">
                                <div><span><sup>*</sup></span>Дата рождения:</div>
                                <div>
                                    <select name="" id="bdayDay">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>

                                    <select name="" id="bdayMonth">
                                        <option value="1">Январь</option>
                                        <option value="2">Февраль</option>
                                        <option value="3">Март</option>
                                        <option value="4">Апрель</option>
                                        <option value="5">Май</option>
                                        <option value="6">Июнь</option>
                                        <option value="7">Июль</option>
                                        <option value="8">Август</option>
                                        <option value="9">Сентябрь</option>
                                        <option value="10">Октябрь</option>
                                        <option value="11">Ноябрь</option>
                                        <option value="12">Декабрь</option>
                                    </select>

                                    <select name="" id="bdayYear">
                                        <option value="2014">2014</option>
                                        <option value="2013">2013</option>
                                        <option value="2012">2012</option>
                                        <option value="2011">2011</option>
                                        <option value="2010">2010</option>
                                        <option value="2009">2009</option>
                                        <option value="2008">2008</option>
                                        <option value="2007">2007</option>
                                        <option value="2006">2006</option>
                                        <option value="2005">2005</option>
                                        <option value="2004">2004</option>
                                        <option value="2003">2003</option>
                                        <option value="2002">2002</option>
                                        <option value="2001">2001</option>
                                        <option value="2000">2000</option>
                                        <option value="1999">1999</option>
                                        <option value="1998">1998</option>
                                        <option value="1997">1997</option>
                                        <option value="1996">1996</option>
                                        <option value="1995">1995</option>
                                        <option value="1994">1994</option>
                                        <option value="1993">1993</option>
                                        <option value="1992">1992</option>
                                        <option value="1991">1991</option>
                                        <option value="1990">1990</option>
                                        <option value="1989">1989</option>
                                        <option value="1988">1988</option>
                                        <option value="1987">1987</option>
                                        <option value="1986">1986</option>
                                        <option value="1985">1985</option>
                                        <option value="1984">1984</option>
                                        <option value="1983">1983</option>
                                        <option value="1982">1982</option>
                                        <option value="1981">1981</option>
                                        <option value="1980">1980</option>
                                        <option value="1979">1979</option>
                                        <option value="1978">1978</option>
                                        <option value="1977">1977</option>
                                        <option value="1976">1976</option>
                                        <option value="1975">1975</option>
                                        <option value="1974">1974</option>
                                        <option value="1973">1973</option>
                                        <option value="1972">1972</option>
                                        <option value="1971">1971</option>
                                        <option value="1970">1970</option>
                                        <option value="1969">1969</option>
                                        <option value="1968">1968</option>
                                        <option value="1967">1967</option>
                                        <option value="1966">1966</option>
                                        <option value="1965">1965</option>
                                        <option value="1964">1964</option>
                                        <option value="1963">1963</option>
                                        <option value="1962">1962</option>
                                        <option value="1961">1961</option>
                                        <option value="1960">1960</option>
                                        <option value="1959">1959</option>
                                        <option value="1958">1958</option>
                                        <option value="1957">1957</option>
                                        <option value="1956">1956</option>
                                        <option value="1955">1955</option>
                                        <option value="1954">1954</option>
                                        <option value="1953">1953</option>
                                        <option value="1952">1952</option>
                                        <option value="1951">1951</option>
                                        <option value="1950">1950</option>
                                        <option value="1949">1949</option>
                                        <option value="1948">1948</option>
                                        <option value="1947">1947</option>
                                        <option value="1946">1946</option>
                                        <option value="1945">1945</option>
                                        <option value="1944">1944</option>
                                        <option value="1943">1943</option>
                                        <option value="1942">1942</option>
                                        <option value="1941">1941</option>
                                        <option value="1940">1940</option>
                                        <option value="1939">1939</option>
                                        <option value="1938">1938</option>
                                        <option value="1937">1937</option>
                                        <option value="1936">1936</option>
                                        <option value="1935">1935</option>
                                        <option value="1934">1934</option>
                                        <option value="1933">1933</option>
                                        <option value="1932">1932</option>
                                        <option value="1931">1931</option>
                                        <option value="1930">1930</option>
                                        <option value="1929">1929</option>
                                        <option value="1928">1928</option>
                                        <option value="1927">1927</option>
                                        <option value="1926">1926</option>
                                        <option value="1925">1925</option>
                                        <option value="1924">1924</option>
                                        <option value="1923">1923</option>
                                        <option value="1922">1922</option>
                                        <option value="1921">1921</option>
                                        <option value="1920">1920</option>
                                        <option value="1919">1919</option>
                                        <option value="1918">1918</option>
                                        <option value="1917">1917</option>
                                        <option value="1916">1916</option>
                                        <option value="1915">1915</option>
                                        <option value="1914">1914</option>
                                        <option value="1913">1913</option>
                                        <option value="1912">1912</option>
                                        <option value="1911">1911</option>
                                        <option value="1910">1910</option>
                                        <option value="1909">1909</option>
                                        <option value="1908">1908</option>
                                        <option value="1907">1907</option>
                                        <option value="1906">1906</option>
                                        <option value="1905">1905</option>
                                        <option value="1904">1904</option>
                                        <option value="1903">1903</option>
                                        <option value="1902">1902</option>
                                        <option value="1901">1901</option>
                                        <option value="1900">1900</option>
                                    </select>

                                </div>
                            </div>
                            <div class="row">
                                <div><span><sup>*</sup></span>Ты живешь в:</div>
                                <div>
                                    <input id="localCity" type="text" class="required" minlength="2" maxlength="300"/>

                                    <div class="tltp">
                                        <div></div>
                                        <p>Просто начните вводить свой готод, и выберите из списка. Страна будет указана
                                            автоматически</p>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </section>
                    </form>
                    </div>


                    <div class="slide">
                        <form>
                            <div class="i18n-info form">
                                <h4>Для нас не существует географических границ, по-этому пожалуйста укажи также свое
                                    имя на английском, а также языки, которыми ты владеешь:</h4>

                                <div class="row">
                                    <div>Name:</div>
                                    <div><input id="intName" type="text" value="{{currentUser.profile.first_name}}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div>Second name:</div>
                                    <div><input id="intSecondName" type="text"
                                                value="{{currentUser.profile.last_name}}"/></div>
                                </div>
                                <div class="row">
                                    <div>Languages:</div>
                                    <div class="lang-cont">
                                        <!--<div class="tag" data-value="RU">-->
                                            <!--<p>Русский</p>-->
                                            <!--<div class="remove"><i class="fa fa-times"></i></div>-->
                                        <!--</div>-->
                                        <div class="add-lang">
                                            <button><i class="fa fa-plus"></i></button>
                                            <ul>
                                                <li data-value="RU">Русский</li>
                                                <li data-value="EN">English</li>
                                                <li data-value="DE">Deutsch</li>
                                                <li data-value="FR">Français</li>
                                                <li data-value="es">Español</li>
                                                <li data-value="pt">Português</li>
                                                <li data-value="it">Italiano</li>
                                                <li data-value="el">Ελληνικά</li>
                                                <li data-value="zh">中文</li>
                                                <li data-value="ja">日本語</li>
                                                <li data-value="ko">한국어</li>
                                                <li data-value="ar">العربية</li>
                                                <hr/>
                                                <li data-value="aa">Afar</li>
                                                <li data-value="ab">Аҧсуа</li>
                                                <li data-value="af">Afrikaans</li>
                                                <li data-value="ak">Akana</li>
                                                <li data-value="als">Alemannisch</li>
                                                <li data-value="am">አማርኛ</li>
                                                <li data-value="an">Aragonés</li>
                                                <li data-value="ang">Englisc</li>
                                                <li data-value="as">অসমীয়া</li>
                                                <li data-value="ast">Asturianu</li>
                                                <li data-value="av">Авар</li>
                                                <li data-value="ay">Aymar</li>
                                                <li data-value="az">آذربايجان</li>
                                                <li data-value="ba">Башҡорт</li>
                                                <li data-value="bar">Boarisch</li>
                                                <li data-value="bat-smg">Žemaitėška</li>
                                                <li data-value="bcl">Bikol Central</li>
                                                <li data-value="be">Беларуская</li>
                                                <li data-value="bg">Български</li>
                                                <li data-value="bh">भोजपुरी</li>
                                                <li data-value="bi">Bislama</li>
                                                <li data-value="bm">Bamanankan</li>
                                                <li data-value="bn">বাংলা</li>
                                                <li data-value="bo">བོད་ཡིག</li>
                                                <li data-value="br">Brezhoneg</li>
                                                <li data-value="bs">Bosanski</li>
                                                <li data-value="bxr">Буряад хэлэн</li>
                                                <li data-value="ca">Català</li>
                                                <li data-value="ce">Нохчийн</li>
                                                <li data-value="ceb">Sinugboanong Binisaya</li>
                                                <li data-value="ch">Chamoru</li>
                                                <li data-value="cho">Choctaw</li>
                                                <li data-value="chr">ᏣᎳᎩ</li>
                                                <li data-value="chy">Tsetsêhestâhese</li>
                                                <li data-value="co">Corsu</li>
                                                <li data-value="cr">Nehiyaw</li>
                                                <li data-value="cs">Česky</li>
                                                <li data-value="csb">Kaszëbsczi</li>
                                                <li data-value="cu">словѣньскъ</li>
                                                <li data-value="cv">Чăваш</li>
                                                <li data-value="cy">Cymraeg</li>
                                                <li data-value="da">Dansk</li>
                                                <li data-value="diq">Zazaki</li>
                                                <li data-value="dsb">Dolnoserbski</li>
                                                <li data-value="dz">ཇོང་ཁ</li>
                                                <li data-value="ee">Ɛʋɛ</li>
                                                <li data-value="eo">Esperanto</li>
                                                <li data-value="et">Eesti</li>
                                                <li data-value="eu">Euskara</li>
                                                <li data-value="ext">Estremeñu</li>
                                                <li data-value="fa">فارسی</li>
                                                <li data-value="ff">Fulfulde</li>
                                                <li data-value="fi">Suomi</li>
                                                <li data-value="fiu-vro">Võro</li>
                                                <li data-value="fj">Na Vosa Vakaviti</li>
                                                <li data-value="fo">Føroyskt</li>
                                                <li data-value="fy">Frysk</li>
                                                <li data-value="ga">Gaeilge</li>
                                                <li data-value="gd">Gàidhlig</li>
                                                <li data-value="gil">Taetae ni kiribati</li>
                                                <li data-value="gl">Galego</li>
                                                <li data-value="gn">Avañe'ẽ</li>
                                                <li data-value="got">gutisk</li>
                                                <li data-value="gu">ગુજરાતી</li>
                                                <li data-value="gv">Gaelg</li>
                                                <li data-value="gv">هَوُسَ</li>
                                                <li data-value="ho">हिन्दी</li>
                                                <li data-value="hi">Hiri Motu</li>
                                                <li data-value="hr">Hrvatski</li>
                                                <li data-value="ht">Krèyol ayisyen</li>
                                                <li data-value="hu">Magyar</li>
                                                <li data-value="hy">Հայերեն</li>
                                                <li data-value="hz">Otsiherero</li>
                                                <li data-value="ia">Interlingua</li>
                                                <li data-value="ig">Igbo</li>
                                                <li data-value="ii">ꆇꉙ / 四川彝语</li>
                                                <li data-value="ik">Iñupiak</li>
                                                <li data-value="ilo">Ilokano</li>
                                                <li data-value="io">Ido</li>
                                                <li data-value="is">Íslenska</li>
                                                <li data-value="iu">ᐃᓄᒃᑎᑐᑦ</li>
                                                <li data-value="jbo">Lojban</li>
                                                <li data-value="jv">Basa Jawa</li>
                                                <li data-value="ka">ქართული</li>
                                                <li data-value="kg">KiKongo</li>
                                                <li data-value="ki">Gĩkũyũ</li>
                                                <li data-value="kj">Kuanyama</li>
                                                <li data-value="kk">Қазақша</li>
                                                <li data-value="kl">Kalaallisut</li>
                                                <li data-value="km">ភាសាខ្មែរ</li>
                                                <li data-value="km">ಕನ್ನಡ</li>
                                                <li data-value="km">کھوار</li>
                                                <li data-value="kr">Kanuri</li>
                                                <li data-value="ks">كشميري</li>
                                                <li data-value="ksh">Ripoarisch</li>
                                                <li data-value="ku">كوردی</li>
                                                <li data-value="kv">Коми</li>
                                                <li data-value="kw">Kernewek</li>
                                                <li data-value="ky">Кыргызча</li>
                                                <li data-value="la">Latina</li>
                                                <li data-value="lad">Dzhudezmo</li>
                                                <li data-value="lan">Luo</li>
                                                <li data-value="lb">Lëtzebuergesch</li>
                                                <li data-value="lg">Luganda</li>
                                                <li data-value="li">Limburgs</li>
                                                <li data-value="lij">Líguru</li>
                                                <li data-value="lmo">Lumbaart</li>
                                                <li data-value="ln">Lingála</li>
                                                <li data-value="lo">ລາວ</li>
                                                <li data-value="lt">Lietuvių</li>
                                                <li data-value="lv">Latviešu</li>
                                                <li data-value="map-bms">Basa Banyumasan</li>
                                                <li data-value="mg">Malagasy</li>
                                                <li data-value="mh">Ebon</li>
                                                <li data-value="mi">Māori</li>
                                                <li data-value="min">Minangkabau</li>
                                                <li data-value="mk">Македонски</li>
                                                <li data-value="ml">മലയാളം</li>
                                                <li data-value="mn">Монгол</li>
                                                <li data-value="mo">Moldovenească</li>
                                                <li data-value="mr">मराठी</li>
                                                <li data-value="ms">Bahasa Melayu</li>
                                                <li data-value="mt">bil-Malti</li>
                                                <li data-value="mus">Mvskoke</li>
                                                <li data-value="my">Myanmasa</li>
                                                <li data-value="na">Dorerin Naoero</li>
                                                <li data-value="nah">Nahuatl</li>
                                                <li data-value="nap">Nnapulitano</li>
                                                <li data-value="nd">Sindebele</li>
                                                <li data-value="nds">Plattdüütsch</li>
                                                <li data-value="nds-nl">Nedersaksisch</li>
                                                <li data-value="ne">नेपाली</li>
                                                <li data-value="new">नेपालभाषा </li>
                                                <li data-value="ng">Oshiwambo</li>
                                                <li data-value="nl">Nederlands</li>
                                                <li data-value="no">Norsk</li>
                                                <li data-value="nr">isiNdebele</li>
                                                <li data-value="nso">Sepedi</li>
                                                <li data-value="nrm">Nouormand</li>
                                                <li data-value="nv">Diné bizaad</li>
                                                <li data-value="ny">Chi-Chewa</li>
                                                <li data-value="oc">Occitan</li>
                                                <li data-value="oj">ᐊᓂᔑᓈᐯᒧᐎᓐ</li>
                                                <li data-value="om">Oromoo</li>
                                                <li data-value="or">ଓଡ଼ିଆ</li>
                                                <li data-value="os">Иронау</li>
                                                <li data-value="pa">پنجابي</li>
                                                <li data-value="pag">Pangasinan</li>
                                                <li data-value="pam">Kapampangan</li>
                                                <li data-value="pap">Papiamentu</li>
                                                <li data-value="pdc">Deitsch</li>
                                                <li data-value="pi">पाऴि</li>
                                                <li data-value="pih">Norfuk</li>
                                                <li data-value="pl">Polski</li>
                                                <li data-value="pms">Piemontèis</li>
                                                <li data-value="ps">پښتو</li>
                                                <li data-value="qu">Runa Simi</li>
                                                <li data-value="rm">Rumantsch</li>
                                                <li data-value="rmy">रोमानी</li>
                                                <li data-value="rn">Kirundi</li>
                                                <li data-value="ro">Română</li>
                                                <li data-value="roa-rup">Armâneashti</li>
                                                <li data-value="rw">Kinyarwandi</li>
                                                <li data-value="sa">संस्कृतम्</li>
                                                <li data-value="sc">Sardu</li>
                                                <li data-value="scn">Sicilianu</li>
                                                <li data-value="sco">Scots</li>
                                                <li data-value="sd">सिनधि</li>
                                                <li data-value="se">Sámegiella</li>
                                                <li data-value="sg">Sängö</li>
                                                <li data-value="sh">Српскохрватски</li>
                                                <li data-value="si">සිංහල</li>
                                                <li data-value="sk">Slovenčina</li>
                                                <li data-value="sl">Slovenščina</li>
                                                <li data-value="sm">Gagana Samoa</li>
                                                <li data-value="sn">chiShona</li>
                                                <li data-value="so">Soomaaliga</li>
                                                <li data-value="sq">Shqip</li>
                                                <li data-value="sr">Српски</li>
                                                <li data-value="ss">SiSwati</li>
                                                <li data-value="st">Sesotho</li>
                                                <li data-value="su">Basa Sunda</li>
                                                <li data-value="sv">Svenska</li>
                                                <li data-value="sw">Kiswahili</li>
                                                <li data-value="ta">தமிழ்</li>
                                                <li data-value="te">తెలుగు</li>
                                                <li data-value="tet">Tetun</li>
                                                <li data-value="tg">Тоҷикӣ</li>
                                                <li data-value="th">ไทย</li>
                                                <li data-value="ti">ትግርኛ</li>
                                                <li data-value="tk">تركمن</li>
                                                <li data-value="tl">Tagalog</li>
                                                <li data-value="tlh">tlhIngan-Hol</li>
                                                <li data-value="tn">Setswana</li>
                                                <li data-value="to">Lea Faka-Tonga</li>
                                                <li data-value="tpi">Tok Pisin</li>
                                                <li data-value="tr">Türkçe</li>
                                                <li data-value="ts">Xitsonga</li>
                                                <li data-value="tt">Tatarça</li>
                                                <li data-value="tum">chiTumbuka</li>
                                                <li data-value="tw">Twi</li>
                                                <li data-value="ty">Reo Mā`ohi</li>
                                                <li data-value="udm">Удмурт кыл</li>
                                                <li data-value="ug">ئۇيغۇرچە</li>
                                                <li data-value="uk">Українська</li>
                                                <li data-value="ur">اردو</li>
                                                <li data-value="uz">Ўзбек</li>
                                                <li data-value="ve">Tshivenḓa</li>
                                                <li data-value="vi">Tiếng Việt</li>
                                                <li data-value="vec">Vèneto</li>
                                                <li data-value="vls">West-Vlaoms</li>
                                                <li data-value="vo">Volapük</li>
                                                <li data-value="wa">Walon</li>
                                                <li data-value="xal">Хальмг</li>
                                                <li data-value="xh">isiXhosa</li>
                                                <li data-value="yi">ייִדיש</li>
                                                <li data-value="yo">Yorùbá</li>
                                                <li data-value="za">壮语</li>
                                                <li data-value="zh-min-nan">Bân-lâm-gú</li>
                                                <li data-value="zh-yue">粵語</li>
                                                <li data-value="zu">isiZulu</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div class="slide">


                        <form>
                            <section class="additional-info form">
                                <h4>И последнее, для наших астрологических подсчетов потребуется еще немного информации
                                    о тебе:</h4>

                                <div class="row">

                                    <div>
                                        <span><sup>*</sup></span>Место твоего рождения:
                                    </div>
                                    <div>
                                        <input id="birthCity" type="text" class="required"/>
                                    </div>

                                </div>

                                <div class="row">

                                    <div>
                                        Время вашего рождения:
                                    </div>
                                    <div>
                                        <input id="birthTime" type="text"/>
                                    </div>

                                </div>

                                <p class="disclaimer">Если вы не знаете времени своего рождения с точностью до 10 минут, то просто оставьте это поле пустым, и мы ограничимся неполной астрологической картой. А позже, узнав его у родных или в роддоме, сможете без проблем его внести, и точность астрологических подсчетов возрастет в разы=)</p>


                            </section>
                        </form>


                    </div>
                    </div>
                </div>

            </div>

            <div class="recto">

                <div class="info-cont">

                    <!--<div class="hello-cloud"></div>-->

                    <h1>Привет, {{currentUser.profile.first_name}}!</h1>
                    <h3>Очень рады тебя видеть здесь с нами!</h3>
                    <p>Очень скоро ты познакомишься со множеством интересных людей, но сперва давай познакомимся поближе!</p>

                </div>

            </div>


        </div>


</template>
        
        
        
<template name="testing">

    <div class="testing">

        <div class="animating question-cont">

            <div class="question">

                <h4><span>{{id}}</span> из <span>{{size}}</span></h4>

                <h3>Насколько точно вас описывает фраза<br/><span>{{question}}</span></h3>

                <div class="symbols">
                    <div class="plus">+</div>
                    <div class="minus">-</div>
                </div>

                <div class="range-slider"></div>

                <div class="tltp">
                    <p>Укажите степень соответствия фразы вашей личности, передвинув ползунок в нужном направлении</p>
                    <div></div>
                </div>

                <p class="grade">
                <ul>
                    <li class="low">{{low}}</li>
                    <li class="semilow">{{semilow}}</li>
                    <li class="mid">{{mid}}</li>
                    <li class="semihigh">{{semihigh}}</li>
                    <li class="high">{{high}}</li>
                </ul>
                </p>

                <button id="test-back" disabled="{{backDisabled}}">Упс, нука назад</button>
                <button id="test-further" disabled="{{furtherDisabled}}">Да, точно так!</button>

            </div>

        </div>

    </div>
    
</template>


<template name="testing_cont">

    <div id="tests-container" class="flip-cont-wrap">

        <div class="verso">

            <div class="flip-cont">

                <div class="slider-wrap">
                    <div class="slide">


                    </div>


                    <div class="slide">


                    </div>

                </div>
            </div>

        </div>

        <div class="recto">

            <div class="flip-cont">



            </div>

        </div>


    </div>


</template>




