<template name="hello">

    <section id="hello">

        <section class="top">
            <div class="container">
                {{>loginButtons}}
                <div class="login-cont">
                    <div><a>войти</a> | <a>регистрация</a></div>
                </div>
                <h1>H o M I E s</h1>
            </div>
        </section>

        <section class="info">
            <div class="container">
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cum id, iure placeat porro rem veniam voluptates voluptatibus. Aut cumque dolores enim esse nulla tempore ullam voluptates. Ab distinctio, ipsum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda consequuntur et excepturi maxime, nesciunt non omnis quam soluta velit!</p>
                </div>
                <aside>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eligendi in ipsa perspiciatis quae quas reprehenderit tempora. Accusamus, obcaecati saepe?</p>
                </aside>
            </div>
        </section>

    </section>

</template>